name: Build & Test
"on":
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  test:
    name: Build & Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version: latest
      - name: Install pnpm
        run: corepack enable && corepack prepare
      - run: pnpm install
      - run: pnpm run test
  required-check:
    name: All Tests Passed
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
